/* variables */
$red: #7c1d22;
$red-marvin: #dc686e;
$gray-marvin: #595968;

/* components */
.footer {
  background-color: white;
  bottom: 0;
  color: black;
  position: fixed;
  text-align: center;
  width: 100%;

  p {
    margin: 0.5rem 0;
  }
}

.glyphicon {
  margin-right: 0.5rem;
}
