body {
  background-color: aliceblue;
}
#footer {
  background-color: aquamarine;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
#header {
  overflow: hidden;
  min-height: 4em;
  padding: 1%;
}
#headerLinks {
  float: right;
}
